<h1>Big feet brand list!</h1>

<p>Edit you big feet brand:</p>

<form action="/brands/$brand.getId()/update" method="post">
  <label for="sName">Brand name</label>
  <input id="sName" name="sName" type="text" placeholder="IE: Peggy's Big Feet">

  <button type="submit">Update big feet brand</button>
</form>

#foreach ($brand in $brands)
  <li><a href="/brands/$brand.getId()">$brand.getName()</a></li>
#end

<p><a href='/'>Big feet home</a></p>
